.bubble-container {
  position: absolute;

  .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    pointer-events: none;
    font-size: 50px;
    transition: transform .1s linear,
      opacity .1s ease;
  }
}
