@font-face {
  font-family: 'KG Second Chances Sketch';
  src: url("css/fonts/KGSecondChancesSketch.woff2") format("woff2"), url("css/fonts/KGSecondChancesSketch.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KG Second Chances Solid';
  src: url("css/fonts/KGSecondChancesSolid.woff2") format("woff2"), url("css/fonts/KGSecondChancesSolid.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "KG Second Chances Sketch", sans-serif;
  background-image: url("css/background.jpg");
  color: #fff; }

h2 {
  font-family: "KG Second Chances Solid", sans-serif;
  font-size: 40pt; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
