$default-font: 'KG Second Chances Sketch', sans-serif;
$secondary-font: 'KG Second Chances Solid', sans-serif;
$default-color: #fff;

@font-face {
    font-family: 'KG Second Chances Sketch';
    src: url('css/fonts/KGSecondChancesSketch.woff2') format('woff2'),
        url('css/fonts/KGSecondChancesSketch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KG Second Chances Solid';
    src: url('css/fonts/KGSecondChancesSolid.woff2') format('woff2'),
        url('css/fonts/KGSecondChancesSolid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: $default-font;
  background-image: url("css/background.jpg");
  color: $default-color;
}

h2, h3 {
  font-family: $default-font;
  font-size: 40pt;
  font-weight: normal;
  margin: 0;
}
h3 {
  font-size: 30pt;
}
p {
  font-size: 16pt;
  font-family: $secondary-font;
  margin: 0;
}

.counter-container{
  height: 145px;
    box-sizing: border-box;
    padding-top: 45px;
}

.click-container{
  height: calc(100% - 145px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-up, .button-down {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  height: 145px;
    box-sizing: border-box;

  img {
    height: 100px;
  }
}

.not-clickable {
  opacity: 0;
  cursor: default;
}

main {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1600px;
  margin: 0 auto;

  .main {
    text-align: center;
    width: 100%;
  }

  .aside{
    height: 100vh;
    min-width: 700px;
  display: flex;
  align-items: top;
  }
}

.coffee-container {
  width: 350px;
  transition: transform .3s ease;
  &:hover {
    transform: scale(1.02);
    transform-origin: center;
  }
  &:active {
    transition: transform .2s cubic-bezier(0, 0.29, 0.01, 0.92);
    transform: scale(.9);
  }
}

.divider{
  font-size: 50px;
  text-align: center;

  span:before, span:after{
    content: '';
    display: inline-block;
    background-size: 100%;
    width: 160px;
    height: 40px;
  }
  span:before{
    background-image: url("css/left-thin-arrow.png");
    margin-right: 20px;
  }
  span:after{
    background-image: url("css/right-thin-arrow.png");
    margin-left: 20px;
  }
}

.upgrade-container {

  background-image: url("css/chalkboard.jpg");
  background-size: cover;

  .upgrade-holder{
    padding: 0px 30px;
    display: flex;

    .unlock-upgrade{
      position: relative;
      width:  100px;
      height: 100px;
      box-sizing: border-box;

      span {
        cursor: pointer;
        color: #FFF;
        position: absolute;
        text-align: center;
        width: 91px;
        left: 0;
        top: 55px;
      }

      img {
        position: absolute;
        cursor: pointer;
        height: 100%;
      }
    }

    .upgrade-item {
      margin-top: 10px;
    user-select: none;
      cursor: pointer;
      position: relative;
      width: 560px;
      box-sizing: border-box;
      transition: opacity .5s;

      &:nth-child(5){
        margin: 0;
      }

      .right {
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
      }

      &:active {
        transition: transform .2s cubic-bezier(0, 0.29, 0.01, 0.92);
        transform: scale(.96);
      }

  }
  }
  .not-buyable {
    opacity: .5;
    cursor: default;
    &:active {
      transform: none;
    }
  }
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
