$default-font: 'KG Second Chances Sketch', sans-serif;
$secondary-font: 'KG Second Chances Solid', sans-serif;
$default-color: #fff;

@font-face {
    font-family: 'KG Second Chances Sketch';
    src: url('css/fonts/KGSecondChancesSketch.woff2') format('woff2'),
        url('css/fonts/KGSecondChancesSketch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KG Second Chances Solid';
    src: url('css/fonts/KGSecondChancesSolid.woff2') format('woff2'),
        url('css/fonts/KGSecondChancesSolid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: $default-font;
  background-image: url("css/background.jpg");
  color: $default-color;
}

h2 {
  font-family: $secondary-font;
  font-size: 40pt
}

.aside{
  /*position: absolute;
  right: 0;*/
}

main {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1400px;
  margin: 0 auto;

  .main {
    width: 100%;
  }
}

.coffee-container {
  width: 350px;
}

.upgrade-container {
  .upgrade-item {
    position: relative;
    background-image: url("css/upgrade-item-background.png");
    background-size: contain;
    height: 150px;
    width: 600px;
    box-sizing: border-box;
    margin-bottom: 40px;
    transition: opacity .5s;

    .left, .right{
      padding: 34px 45px;
    }

    .right {
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .not-buyable {
    opacity: .5;
  }

  * {
    margin: 0px;
  }

  h3 {
    font-weight: normal;
    font-size: 32pt;
  }
  p {
    font-size: 17pt;
    font-family: $secondary-font;
  }
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
